<!DOCTYPE html>
<html lang="en">
    
    <div class="jumbotron mt-3 container rounded">
        <h1 class = "display-1 text-center">swa16</h1class></h1>
        <h1 class = "display-6 text-center">this is the about me page that im using bootstrap for</h2>
        <hr class = "indexhr mx-auto"> <!-- the line in the jumbotron-->
        <p class = "ps-4 pb-3 text-center">swa16!!!</h10>
        <p class = "ps-4 pb-3 text-center">look at this super cool jumbotron</h10>
    </div>

    <div class="container text-center">
  <div class="row bg-info">
    <div class="col">
      look at this grid!!
    </div>
    <div class="col">
      this row is blue!!!!!!
    </div>
  </div>
  <div class="row bg-danger">
    <div class="col">
      new row!
    </div>
    <div class="col">
      this row is red!!
    </div>
    <div class="col">
      i love grids
    </div>
  </div>
</div>

</body>