<body style="background-image: url('<%= asset_path("charley.jpeg")%>'); background-size: cover; background-repeat: no-repeat; background-position: center;">

<div class="alert alert-primary text-center" role="alert">
    i love bootstrapped borders with awesome links on the inside
</div>

<div style="margin-top: 175px; margin-left: 575px;">
    <a href="https://en.wikipedia.org/wiki/Justin_Bieber" class="border border-dark bg-danger text-white p-1 rounded">contact us</a>
</div>
